doctype html
html(ng-app = 'appMod', ng-controller = 'AppCtl as app')
  head
    meta(charset = 'utf-8')
    title(ng-bind = 'app.name') Loading…
    link(rel = 'stylesheet', href = './css/default.css')
  body

    div.view-main(ui-view)

    script(src = './app.js')